@media screen and (max-width: 1380px) {
    .social-links {
        display: none
    }
}

@media (min-width: 1380px) {
    .float-nav {
        display: block
    }
    #float-link {
        display: none
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gmail-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 480px;
    right: 40px;
    background-color: rgb(169, 236, 220);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.twitter-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 400px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.linkedin-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 320px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.gitlab-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 240px;
    right: 40px;
    background-color: rgb(169, 236, 220);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 160px;
    right: 40px;
    background-color: rgb(169, 236, 220);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 2px;
    font-size: 28px;
}

#imgandtext>span {
    float: left;
}

#imgandtext,
#text {
    overflow: hidden;
}


/*Right Nav*/

.right-nav {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(600, 55, 255);
    position: fixed;
    transform: translateX(0px);
    top: 0px;
    right: -50px;
    height: 100vh;
    width: 300px;
    z-index: 2;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out 0s;
}